.get_started{
	cursor: pointer;
}

.get-started-btn{
	margin-top: 25px;
	background: white;
	border: 0px;
	color: #084f8e;
	width: 220px;
}

.get-started-btn:hover, .get-started-btn:active, .get-started-btn:focus{
	background: white !important;
	box-shadow: 0 0 10px #B5FB98;
	color: black !important;
}


#nav{
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
/*	width: 100%;
	padding: 20px;*/
	transition: .2s linear all;
}

#nav.sticky{
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background: rgba(38, 47, 53, .95);
}

#nav #links{
	padding-top: 20px;
	padding-right: 20px;
}



#logo{
	font-family: "Montserrat";
	color: white;
	font-weight: 700;
	font-size: 25px;
	padding-top: 13px;
}

#links, h1{font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; letter-spacing:0px;}
#links{font-size: 15px;font-weight: auto;font-weight: 400;}

#links{
	position: absolute;
	top: 5px;
	right: 0px;
}

a.login-link{
	background: white;
	padding: 8px 20px;
	border-radius: 20px;
	color: black !important;
}

a.login-link:hover{
	background: #eee;
	text-decoration: none;
}

#links ul{ list-style: none; }
#links > ul > li{ list-style: none; display: inline-block; }
#links.homepage > ul > li > a{ color:white; cursor: pointer; margin-left: 15px;}

@media only screen and (max-device-width : 736px) {
	#links{ top:0px !important;}
	#links li{
		display: block;
		width: 100%;
		margin-top: 10px;
		text-decoration: underline;
	}
}

@media screen and (max-width: 767px) {
    #links li{display: block;}
    #links{ position: static; }
}

.bg-blue {
	background-color: #084f8e;
}

.bg-blue{
      z-index: 1000;
      top: 0px;
      left: 0px;
      right: 0px;
      transition: .2s linear all;
}

.bg-blue a {
  color: #ffffff
}

.bg-blue a:hover {
  color: #B5FB98;
}

.content-right {
  justify-content: flex-end;
}


.login-btn {
    background: #ffffff;
    padding: 8px 20px !important;
    border-radius: 1.2rem;
    color: #084f8e !important;
    margin-left: 10px;
    font-weight: 700;
}

.login-btn:hover {

    box-shadow: inset 0 0 0 1px #5dfc71;
}

.navbar {
	position: sticky !important;
}
