.col-centered{
    margin: 0 auto;
    float: none;
}

.content {
  width: auto;
  height: 1000px;
  margin: 0 auto;
}

.content::after {
  background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}
.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) -
    (var(--inputPaddingV) * var(--labelScaleFactor)) -
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}
body {
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  color: #455A64;
  background-color: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.Input {
  position: relative;
}

.Input-text {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  letter-spacing: 0.8rem;

}

.Input-text::placeholder {
  color: #B0BEC5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.keyboard {
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    user-select: none;
    transition: bottom 0.4s;
    margin-top: 40px;
}

.keyboard__keys {
    text-align: center;
}

.underline {
  text-decoration: underline;
}

.keyboard__key {
    height: 35px;
    width: 4%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.7);
    color: #0000000;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.keyboard__key_not_used {
    height: 35px;
    width: 4%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.7);
    color: #0000000;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.letterStyle {
  font-size: 45px;
  color: #757575;
  width: 20px;
    display: inline-block;
    margin-top: 25px;
}
.Input {
  position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 500px);
  font-family: "DroidSansMono";
}

.Input span.letterStyle.active {
  font-size: 35px;
    color: #757575;
    border-bottom: 3px solid #0a6bf9;
    width: 27px;
    display: inline-block;
}

.login-btn {
    background: #ffffff;
    padding: 8px 20px !important;
    border-radius: 1.2rem;
    color: #084f8e !important;
    margin-left: 10px;
    font-weight: 700;
    position: absolute;
    top: 14px;
}

.login-btn:hover {

    box-shadow: inset 0 0 0 1px #5dfc71;
}

span.letterStyle {
    display: inline-block;
    width: 27px;
    height: 55px;
    margin-bottom: -17px;
    font-size: 35px;
    margin-right: 2px;
}

.keycolor{
  background-color: #5dfc71;
}

#hands{
  width: 100%;
}

.key_hands{
  width: 25%;
    background-image: url('../images/key_hands.svg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: auto;
}


/* css for the scoreBoard after the step */
